<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Video library</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Error 404: Page not found</h1>
<p>Sorry, but the page you were trying to view does not exist.</p>
</body>
</html>