<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" >
    <title>Video Library</title>
    <script></script>
    <link rel="stylesheet" type='text/css' href="src/public/stylesheets/main.css">
    <link rel="stylesheet" type='text/css' href="src/public/stylesheets/home.css">
</head>
<body>
<header>
    <h1>Video Library</h1><br>
    <a href="/add">Add New Video</a><br><br>

    <div class="search-container">
        <form action="/api/videos" method="POST">
            <label>
                <input type="text" placeholder="Search by title or description.." name="search">
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
</header>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr id="a">
            <td>
            <td>
<!--                <iframe width="300" height="200" src=" " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>-->
            </td>
            <td>
                <a href="" id="b"></a>
            </td>
            <td></td>
            <td>
                <a href=" " id="<c"></a>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>